In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
full_data = pd.read_csv('Full_data.csv')
full_data.head(5)

Index(['Unnamed: 0', 'school', 'year', 'agency_code', 'zip_code',
       '2019_med_hh_inc', 'AP_pass_pct', 'AP_part_pct', 'total_counselors',
       'int_employ', 'int_military', 'int_other', 'int_commcoll', 'int_privjr',
       'int_privsr', 'int_pubsr', 'int_tradesch', 'enroll_All',
       'enroll_AmericanIndian', 'enroll_Asian', 'enroll_Black',
       'enroll_Disadvantaged', 'enroll_EnglishLearners', 'enroll_Female',
       'enroll_Hispanic', 'enroll_Male', 'enroll_Twoormore',
       'enroll_PacificIslander', 'enroll_Disabilities', 'enroll_White',
       'CTE_cred_pct', 'CTE_enroll_pct'],
      dtype='object')

In [9]:
full_data.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [10]:
full_data.head(5)

,school,year,agency_code,zip_code,2019_med_hh_inc,AP_pass_pct,AP_part_pct,total_counselors,int_employ,int_military,...,enroll_EnglishLearners,enroll_Female,enroll_Hispanic,enroll_Male,enroll_Twoormore,enroll_PacificIslander,enroll_Disabilities,enroll_White,CTE_cred_pct,CTE_enroll_pct
0,Ardrey Kell High School,2015,600302,28277,109251.0,0.81,0.43,361.0,8.3,2.9,...,NaN,0.465600,NaN,0.401600,NaN,NaN,NaN,0.545600,NaN,NaN
1,Butler High School,2015,600361,28105,117852.0,0.67,0.23,361.0,8.3,2.9,...,NaN,0.342282,0.076063,0.322148,NaN,NaN,NaN,0.326622,NaN,NaN
2,Cato Middle College High School,2015,600334,28215,50704.0,0.52,0.52,361.0,8.3,2.9,...,NaN,0.500000,0.083333,0.402778,NaN,NaN,NaN,0.305556,NaN,NaN
3,East Mecklenburg High School,2015,600377,28212,46688.0,0.39,0.11,361.0,8.3,2.9,...,NaN,0.373684,0.078947,0.268421,NaN,NaN,NaN,0.194737,NaN,NaN
4,Garinger High School,2015,600397,28205,50200.0,0.11,NaN,361.0,8.3,2.9,...,0.053125,0.146875,0.059375,0.190625,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
summary_stats = full_data.describe().drop(['25%','50%','75%'], axis=0).drop(['year', 'agency_code', 'zip_code', '2019_med_hh_inc'], axis=1)

In [112]:
summary_stats = summary_stats.append(full_data[summary_stats.columns].apply(lambda x: x.isna().sum()/x.size), ignore_index=True)

In [113]:
sum_stats_index = list(summary_stats.index)
sum_stats_index = sum_stats_index.append('missing')

In [114]:
summary_stats.index = ['count', 'mean', 'std', 'min', 'max', 'missing']

In [115]:
summary_stats

,AP_pass_pct,AP_part_pct,total_counselors,int_employ,int_military,int_other,int_commcoll,int_privjr,int_privsr,int_pubsr,...,enroll_EnglishLearners,enroll_Female,enroll_Hispanic,enroll_Male,enroll_Twoormore,enroll_PacificIslander,enroll_Disabilities,enroll_White,CTE_cred_pct,CTE_enroll_pct
count,136.000000,138.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,...,12.000000,91.000000,65.000000,87.000000,13.000000,0.0,16.000000,63.000000,19.000000,69.000000
mean,0.432072,0.216618,440.774648,11.238732,2.603521,1.750704,33.807042,0.325352,8.745775,40.578873,...,0.301253,0.481588,0.253135,0.397970,0.648385,NaN,0.393806,0.520827,16.263158,65.907391
std,0.233878,0.125331,46.768995,2.657703,0.303271,0.812294,1.924631,0.109439,0.633869,1.484044,...,0.159839,0.186517,0.191562,0.180068,0.214936,NaN,0.119850,0.250642,14.947471,14.796228
min,0.050000,0.000000,361.000000,8.300000,2.200000,1.000000,31.300000,0.200000,7.800000,38.400000,...,0.053125,0.146875,0.050439,0.114035,0.051282,NaN,0.235294,0.054795,0.000000,22.120000
max,0.840000,0.570000,508.000000,15.000000,3.000000,3.100000,36.900000,0.500000,9.500000,43.400000,...,0.550000,0.915709,0.700000,0.839623,0.933333,NaN,0.657143,0.905128,54.000000,97.990000
missing,0.042254,0.028169,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.915493,0.359155,0.542254,0.387324,0.908451,1.0,0.887324,0.556338,0.866197,0.514085

In [91]:
summary_stats.reset_index(inplace=True)

In [116]:
d = summary_stats.to_dict()

In [188]:
for x, v in d['AP_pass_pct'].items():
    print(x)
    print(str(v))

count
136.0
mean
0.4320716396463235
std
0.2338775241314746
min
0.05
max
0.84
missing
0.04225352112676056

In [185]:
for inner_key, values in d['AP_pass_pct'].items(): ## loop through each inner dictionary
            ## replace
    print(str(values))
    
    with open('table_template\\row_template.tex', 'r') as myfile:
    ## read the template
        text = myfile.read() 
        print(text)
        text.replace(' mean ', 'woof')
        print(text)

            ## open the table file 
        with open('table_template\\summary_stats.tex', 'a') as file:
            file.write(text)

136.0
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
0.4320716396463235
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
0.2338775241314746
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
0.05
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
0.84
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
0.04225352112676056
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\
 $KEY$ &  $count$   &  mean & std & min & max & missing  \\

In [197]:


## loop through list of keys
for key in list(d.keys()):
    
## open row template
    with open('table_template\\row_template.tex', 'r') as myfile:
    ## read the template
        text = myfile.read() 

## fill in template 
        ## variable - count - mean - std - min - max - missing
        text = text.replace('$KEY$', key) ## name variable
        #print(text)
        for inner_key, values in d[key].items(): ## loop through each inner dictionary
            ## replace
            values = str(np.round(values, 2))
            text = text.replace(inner_key, values)

            ## open the table file 
    with open('table_template\\summary_stats.tex', 'a') as file:
        file.write(text + '\n')
        
## add to the table file

##

 AP_pass_pct &  136.0  &  0.43 & 0.23 & 0.05 & 0.84 & 0.04  \\
 AP_part_pct &  138.0  &  0.22 & 0.13 & 0.0 & 0.57 & 0.03  \\
 total_counselors &  142.0  &  440.77 & 46.77 & 361.0 & 508.0 & 0.0  \\
 int_employ &  142.0  &  11.24 & 2.66 & 8.3 & 15.0 & 0.0  \\
 int_military &  142.0  &  2.6 & 0.3 & 2.2 & 3.0 & 0.0  \\
 int_other &  142.0  &  1.75 & 0.81 & 1.0 & 3.1 & 0.0  \\
 int_commcoll &  142.0  &  33.81 & 1.92 & 31.3 & 36.9 & 0.0  \\
 int_privjr &  142.0  &  0.33 & 0.11 & 0.2 & 0.5 & 0.0  \\
 int_privsr &  142.0  &  8.75 & 0.63 & 7.8 & 9.5 & 0.0  \\
 int_pubsr &  142.0  &  40.58 & 1.48 & 38.4 & 43.4 & 0.0  \\
 int_tradesch &  142.0  &  0.9 & 0.15 & 0.7 & 1.1 & 0.0  \\
 enroll_All &  42.0  &  0.63 & 0.17 & 0.34 & 0.95 & 0.7  \\
 enroll_AmericanIndian &  0.0  &  nan & nan & nan & nan & 1.0  \\
 enroll_Asian &  31.0  &  0.52 & 0.31 & 0.06 & 0.95 & 0.78  \\
 enroll_Black &  88.0  &  0.41 & 0.21 & 0.06 & 0.95 & 0.38  \\
 enroll_Disadvantaged &  63.0  &  0.36 & 0.19 & 0.07 & 0.85 & 0.56  \\
 enroll_EnglishLearners &  12.0  &  0.3 & 0.16 & 0.05 & 0.55 & 0.92  \\
 enroll_Female &  91.0  &  0.48 & 0.19 & 0.15 & 0.92 & 0.36  \\
 enroll_Hispanic &  65.0  &  0.25 & 0.19 & 0.05 & 0.7 & 0.54  \\
 enroll_Male &  87.0  &  0.4 & 0.18 & 0.11 & 0.84 & 0.39  \\
 enroll_Twoormore &  13.0  &  0.65 & 0.21 & 0.05 & 0.93 & 0.91  \\
 enroll_PacificIslander &  0.0  &  nan & nan & nan & nan & 1.0  \\
 enroll_Disabilities &  16.0  &  0.39 & 0.12 & 0.24 & 0.66 & 0.89  \\
 enroll_White &  63.0  &  0.52 & 0.25 & 0.05 & 0.91 & 0.56  \\
 CTE_cred_pct &  19.0  &  16.26 & 14.95 & 0.0 & 54.0 & 0.87  \\
 CTE_enroll_pct &  69.0  &  65.91 & 14.8 & 22.12 & 97.99 & 0.51  \\

In [137]:
full_data.drop(columns='Unnamed: 0', axis=1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
with open('\\table_template\row_template.tex', 'r') as myfile:
    ## read the template
    text = myfile.read() 
    for key, value in player_dict.items(): ## fill out the template with the dictionary
        text = text.replace('$' + key + '$', value) 
        with open(player_path + x + ' Summary.tex', 'w') as file: ## open the working report
            file.write(text) ## add the newest text in at the end


    ## add the end document line
    with open(team_folder + college + ' ' + team + ' Report_rough.tex', 'a') as myfile: 
        myfile.write('\n\n\end{document}')