# Cleaning Variables

In [58]:
import pandas as pd
import numpy as np

In [62]:
dataset = 'NC Stats Data'
variable = 'counselors'

filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC 4301 - A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

years = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
counselor_df =pd.DataFrame()

## for every file in counselors folder
for x in years:


    ## open file    
    ## read as data frame
    sheet = pd.read_excel(filepath + 'Staff_' + str(x) + '.xlsx' , index_col = None, skiprows = [0, 1, 2], header=0, usecols=[1, 2, 3, 4, 5, 7, 8, 10, 11, 12])

    ## remove all but counselors
    sheet = sheet[sheet['Activity Assignment Classification'] == 'Guidance']

    ## add the year as a column
    sheet.insert(0, 'Year', x)


    ## add to a new dataframe
    counselor_df = pd.concat([counselor_df, sheet])


## checking the dataframe
counselor_df.head(10)

#counselor_df.to_csv('Counselor_Info.csv')

,Year,Activity Assignment Classification,State Funds,Fed Funds,Local Funds,Total Funds,Gender Male,Gender Female,Race White,Race Black,Race Other
9,2015,Guidance,261.0,9.0,91.0,361.0,58.0,303.0,160.0,185.0,16.0
8,2016,Guidance,311.0,12.0,78.0,401.0,65.0,336.0,171.0,210.0,20.0
8,2017,Guidance,401.0,25.0,4.0,430.0,65.0,358.0,183.0,227.0,20.0
8,2018,Guidance,409.0,30.0,5.0,444.0,66.0,372.0,180.0,246.0,18.0
8,2019,Guidance,397.0,28.0,42.0,467.0,77.0,384.0,198.0,252.0,17.0
8,2020,Guidance,384.0,26.0,98.0,508.0,426.0,73.0,217.0,268.0,23.0
8,2021,Guidance,455.0,26.0,83.0,564.0,79.0,474.0,233.0,304.0,27.0

In [81]:
print(counselor_df['Total Funds'].size)
print(counselor_df['Total Funds'].isna().sum())
print(counselor_df['Total Funds'].mean())
print(counselor_df['Total Funds'].median())
print(counselor_df['Total Funds'].std())

7
0
453.57142857142856
444.0
67.47556877086981

In [19]:
dataset = 'NC Report Card Data'
variable = 'AP Classes'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC 4301 - A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

## read excel file 
AP_df = pd.read_excel(filepath + 'NC_AP'  + '.xlsx' , index_col = None, header=0, usecols=[0, 1, 2, 3, 5])

## choose only Charlotte-Mecklenburg Schools 
AP_df = sheet[ sheet['agency_code'].str.startswith('600') == True]

## choose only high schools
AP_df = sheet[ sheet['category_code'] == 'H']

## write to CSV
#AP_df.to_csv('AP Data.csv')

In [ ]:
## highschool only agency codes
agency_codes = AP_df['agency_code'].to_list()

In [91]:
# data items, missing , mean, median, sd
print(AP_df['pct_ap_pass'].size)
print(AP_df['pct_ap_pass'].isna().sum())
print(AP_df['pct_ap_pass'].mean())
print(AP_df['pct_ap_pass'].median())
print(AP_df['pct_ap_pass'].std())

187
7
0.40662079439944443
0.4065004178
0.2347686602171992

In [92]:
print(AP_df['pct_ap_participation'].size)
print(AP_df['pct_ap_participation'].isna().sum())
print(AP_df['pct_ap_participation'].mean())
print(AP_df['pct_ap_participation'].median())
print(AP_df['pct_ap_participation'].std())

187
7
0.20957361111111109
0.19
0.12314991980193175

In [33]:
variable = 'CTE Certifications'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC 4301 - A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

credentials_df = pd.read_excel(filepath + 'CTE_Credentials'  + '.xlsx' , index_col = None, header=0, usecols=[0, 1, 2, 3, 4])

credentials_df = credentials_df.loc[ credentials_df['agency_code'].isin(agency_codes), : ]

#credentials_df.to_csv('Credentials Data.csv')

In [93]:
credentials_df

      year agency_code  num_credentials  num_enrollments  cred_earned_pct
242   2018      600302              614           2102.0             29.0
243   2018      600312              373           1602.0             23.0
244   2018      600361                7           1409.0              0.0
245   2018      600364               60            111.0             54.0
246   2018      600377              148           1255.0             12.0
...    ...         ...              ...              ...              ...
1230  2020      600535              278              NaN              NaN
1231  2020      600567               64              NaN              NaN
1232  2020      600576              113              NaN              NaN
1233  2020      600579              608              NaN              NaN
1234  2020      600592               38              NaN              NaN

[75 rows x 5 columns]

In [83]:
print(credentials_df['num_credentials'].size)
print(credentials_df['num_credentials'].isna().sum())
print(credentials_df['num_credentials'].mean())
print(credentials_df['num_credentials'].median())
print(credentials_df['num_credentials'].std())

75
0
290.17333333333335
189.0
317.05146539909214

In [35]:
variable = 'College Enrollment'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC 4301 - A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

college_df = pd.read_excel(filepath + 'college enrollment'  + '.xlsx' , index_col = None, header=0, usecols=[1, 2, 3, 4, 5, 6])

college_df = college_df.loc[ college_df['agency_code'].isin(agency_codes), : ]

#college_df.to_csv('College Enrollment Data.csv')

In [90]:
EDS_enrollment = college_df[ (college_df['subgroup'] == 'EDS') & (college_df['Status'] == 'ENROLL')]

print(EDS_enrollment['pct_enrolled'].size)
print(EDS_enrollment['pct_enrolled'].isna().sum())
print(EDS_enrollment['pct_enrolled'].mean())
print(EDS_enrollment['pct_enrolled'].median())
print(EDS_enrollment['pct_enrolled'].std())

190
12
0.39742568719325844
0.36445934885
0.20523710116920654

In [47]:
variable = 'Definitions'
filepath = r'C:\Users\ricke\OneDrive\Desktop\DTSC 4301 - A\Sprint 2' + '\\' + dataset + '\\' + variable + '\\'

group_definitions = pd.read_excel(filepath + 'Subgroup_Definitions' + '.xlsx', index_col = None, header=0)

## this dictionary can be used to replace all the subgroup codes with full-text 
definitions_dict = pd.Series(group_definitions.description.values,index=group_definitions.subgroup).to_dict()