In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
full_data = pd.read_csv('Full_data.csv')
full_data.head(5)

Index(['Unnamed: 0', 'school', 'year', 'agency_code', 'zip_code',
       '2019_med_hh_inc', 'AP_pass_pct', 'AP_part_pct', 'total_counselors',
       'int_employ', 'int_military', 'int_other', 'int_commcoll', 'int_privjr',
       'int_privsr', 'int_pubsr', 'int_tradesch', 'enroll_All',
       'enroll_AmericanIndian', 'enroll_Asian', 'enroll_Black',
       'enroll_Disadvantaged', 'enroll_EnglishLearners', 'enroll_Female',
       'enroll_Hispanic', 'enroll_Male', 'enroll_Twoormore',
       'enroll_PacificIslander', 'enroll_Disabilities', 'enroll_White',
       'CTE_cred_pct', 'CTE_enroll_pct'],
      dtype='object')

In [9]:
full_data.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [10]:
full_data.head(5)

,school,year,agency_code,zip_code,2019_med_hh_inc,AP_pass_pct,AP_part_pct,total_counselors,int_employ,int_military,...,enroll_EnglishLearners,enroll_Female,enroll_Hispanic,enroll_Male,enroll_Twoormore,enroll_PacificIslander,enroll_Disabilities,enroll_White,CTE_cred_pct,CTE_enroll_pct
0,Ardrey Kell High School,2015,600302,28277,109251.0,0.81,0.43,361.0,8.3,2.9,...,NaN,0.465600,NaN,0.401600,NaN,NaN,NaN,0.545600,NaN,NaN
1,Butler High School,2015,600361,28105,117852.0,0.67,0.23,361.0,8.3,2.9,...,NaN,0.342282,0.076063,0.322148,NaN,NaN,NaN,0.326622,NaN,NaN
2,Cato Middle College High School,2015,600334,28215,50704.0,0.52,0.52,361.0,8.3,2.9,...,NaN,0.500000,0.083333,0.402778,NaN,NaN,NaN,0.305556,NaN,NaN
3,East Mecklenburg High School,2015,600377,28212,46688.0,0.39,0.11,361.0,8.3,2.9,...,NaN,0.373684,0.078947,0.268421,NaN,NaN,NaN,0.194737,NaN,NaN
4,Garinger High School,2015,600397,28205,50200.0,0.11,NaN,361.0,8.3,2.9,...,0.053125,0.146875,0.059375,0.190625,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
summary_stats = full_data.describe().drop(['25%','50%','75%'], axis=0).drop(['year', 'agency_code', 'zip_code', '2019_med_hh_inc'], axis=1)

In [112]:
summary_stats = summary_stats.append(full_data[summary_stats.columns].apply(lambda x: x.isna().sum()/x.size), ignore_index=True)

In [113]:
sum_stats_index = list(summary_stats.index)
sum_stats_index = sum_stats_index.append('missing')

In [114]:
summary_stats.index = ['count', 'mean', 'std', 'min', 'max', 'missing']

In [115]:
summary_stats

,AP_pass_pct,AP_part_pct,total_counselors,int_employ,int_military,int_other,int_commcoll,int_privjr,int_privsr,int_pubsr,...,enroll_EnglishLearners,enroll_Female,enroll_Hispanic,enroll_Male,enroll_Twoormore,enroll_PacificIslander,enroll_Disabilities,enroll_White,CTE_cred_pct,CTE_enroll_pct
count,136.000000,138.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,...,12.000000,91.000000,65.000000,87.000000,13.000000,0.0,16.000000,63.000000,19.000000,69.000000
mean,0.432072,0.216618,440.774648,11.238732,2.603521,1.750704,33.807042,0.325352,8.745775,40.578873,...,0.301253,0.481588,0.253135,0.397970,0.648385,NaN,0.393806,0.520827,16.263158,65.907391
std,0.233878,0.125331,46.768995,2.657703,0.303271,0.812294,1.924631,0.109439,0.633869,1.484044,...,0.159839,0.186517,0.191562,0.180068,0.214936,NaN,0.119850,0.250642,14.947471,14.796228
min,0.050000,0.000000,361.000000,8.300000,2.200000,1.000000,31.300000,0.200000,7.800000,38.400000,...,0.053125,0.146875,0.050439,0.114035,0.051282,NaN,0.235294,0.054795,0.000000,22.120000
max,0.840000,0.570000,508.000000,15.000000,3.000000,3.100000,36.900000,0.500000,9.500000,43.400000,...,0.550000,0.915709,0.700000,0.839623,0.933333,NaN,0.657143,0.905128,54.000000,97.990000
missing,0.042254,0.028169,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.915493,0.359155,0.542254,0.387324,0.908451,1.0,0.887324,0.556338,0.866197,0.514085

In [91]:
summary_stats.reset_index(inplace=True)

In [116]:
d = summary_stats.to_dict()

In [128]:
d['AP_pass_pct'].keys()

dict_keys(['count', 'mean', 'std', 'min', 'max', 'missing'])

In [127]:
d.values()

dict_values([{'count': 136.0, 'mean': 0.4320716396463235, 'std': 0.2338775241314746, 'min': 0.05, 'max': 0.84, 'missing': 0.04225352112676056}, {'count': 138.0, 'mean': 0.21661775362318839, 'std': 0.1253312589853727, 'min': 0.0, 'max': 0.57, 'missing': 0.028169014084507043}, {'count': 142.0, 'mean': 440.77464788732397, 'std': 46.768995362099695, 'min': 361.0, 'max': 508.0, 'missing': 0.0}, {'count': 142.0, 'mean': 11.238732394366197, 'std': 2.657702537708681, 'min': 8.3, 'max': 15.0, 'missing': 0.0}, {'count': 142.0, 'mean': 2.6035211267605627, 'std': 0.3032710492904466, 'min': 2.2, 'max': 3.0, 'missing': 0.0}, {'count': 142.0, 'mean': 1.7507042253521126, 'std': 0.812294402039591, 'min': 1.0, 'max': 3.1, 'missing': 0.0}, {'count': 142.0, 'mean': 33.80704225352113, 'std': 1.9246312306747235, 'min': 31.3, 'max': 36.9, 'missing': 0.0}, {'count': 142.0, 'mean': 0.32535211267605635, 'std': 0.10943868370900138, 'min': 0.2, 'max': 0.5, 'missing': 0.0}, {'count': 142.0, 'mean': 8.745774647887322, 'std': 0.6338694900502327, 'min': 7.8, 'max': 9.5, 'missing': 0.0}, {'count': 142.0, 'mean': 40.578873239436625, 'std': 1.4840442627794908, 'min': 38.4, 'max': 43.4, 'missing': 0.0}, {'count': 142.0, 'mean': 0.9021126760563379, 'std': 0.15039819952292743, 'min': 0.7, 'max': 1.1, 'missing': 0.0}, {'count': 42.0, 'mean': 0.6273965291571428, 'std': 0.17154952932926518, 'min': 0.3375, 'max': 0.95, 'missing': 0.704225352112676}, {'count': 0.0, 'mean': nan, 'std': nan, 'min': nan, 'max': nan, 'missing': 1.0}, {'count': 31.0, 'mean': 0.5246368729903225, 'std': 0.3135171197300863, 'min': 0.0609756098, 'max': 0.95, 'missing': 0.7816901408450704}, {'count': 88.0, 'mean': 0.4061255383409091, 'std': 0.20912159290882706, 'min': 0.0643015521, 'max': 0.9473684211, 'missing': 0.38028169014084506}, {'count': 63.0, 'mean': 0.36499895017460315, 'std': 0.1891617205335424, 'min': 0.066874028, 'max': 0.8461538462, 'missing': 0.5563380281690141}, {'count': 12.0, 'mean': 0.30125260317499997, 'std': 0.15983922918747276, 'min': 0.053125, 'max': 0.55, 'missing': 0.9154929577464789}, {'count': 91.0, 'mean': 0.4815877233747253, 'std': 0.18651691822067243, 'min': 0.146875, 'max': 0.9157088123, 'missing': 0.3591549295774648}, {'count': 65.0, 'mean': 0.25313485166615385, 'std': 0.19156185297484765, 'min': 0.0504385965, 'max': 0.7, 'missing': 0.5422535211267606}, {'count': 87.0, 'mean': 0.39797010924137927, 'std': 0.18006762641510834, 'min': 0.1140350877, 'max': 0.8396226415, 'missing': 0.3873239436619718}, {'count': 13.0, 'mean': 0.6483852862461538, 'std': 0.2149360873649965, 'min': 0.0512820513, 'max': 0.9333333333, 'missing': 0.9084507042253521}, {'count': 0.0, 'mean': nan, 'std': nan, 'min': nan, 'max': nan, 'missing': 1.0}, {'count': 16.0, 'mean': 0.39380567168125, 'std': 0.11984997869698863, 'min': 0.2352941176, 'max': 0.6571428571, 'missing': 0.8873239436619719}, {'count': 63.0, 'mean': 0.5208269355730158, 'std': 0.2506416051761421, 'min': 0.0547945206, 'max': 0.9051282051, 'missing': 0.5563380281690141}, {'count': 19.0, 'mean': 16.263157894736842, 'std': 14.947471377620877, 'min': 0.0, 'max': 54.0, 'missing': 0.8661971830985915}, {'count': 69.0, 'mean': 65.90739130434784, 'std': 14.796227624572373, 'min': 22.12, 'max': 97.99, 'missing': 0.5140845070422535}])

In [131]:


## loop through list of keys
for key in list(d.keys()):
    
## open row template
    with open('table_template\row_template.tex', 'r') as myfile:
    ## read the template
        text = myfile.read() 

## fill in template 
        ## variable - count - mean - std - min - max - missing
        text = text.replace('$KEY$', key) ## name variable
            
        ## replace 
        text.replace(d[key])

        ## open the table file 
        with open('table_template\summary_stats.tex', 'w') as file:
            file.write(text)
        
## add to the table file

##

OSError: [Errno 22] Invalid argument: 'table_template\row_template.tex'

In [ ]:
full_data.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [ ]:
with open('\\table_template\row_template.tex', 'r') as myfile:
    ## read the template
    text = myfile.read() 
    for key, value in player_dict.items(): ## fill out the template with the dictionary
        text = text.replace('$' + key + '$', value) 
        with open(player_path + x + ' Summary.tex', 'w') as file: ## open the working report
            file.write(text) ## add the newest text in at the end


    ## add the end document line
    with open(team_folder + college + ' ' + team + ' Report_rough.tex', 'a') as myfile: 
        myfile.write('\n\n\end{document}')