# Cleaning Variables

# TO-DO:
    - more years of data where it exists ( as far back as possible ) 
        - all variable done, except secondary counselors (which we might not even use) 
    - intentions dataframe -> sum up the Olympic and Garinger schools into one row each 
    - get high school graduates by ethnicity?

In [29]:
import pandas as pd
import numpy as np

In [30]:
dataset = 'Common Core Data'
variable= 'Counselor'
filepath = dataset + '\\' + variable + '\\'
years = [2016, 2017, 2018, 2019, 2020, 2021]

counselor_df = pd.DataFrame()

for x in years:
    # print(x)
    if x == 2016:
        sheet = pd.read_csv(filepath + 'ccd_counselors_' + str(x) +'.csv')

        sheet.insert(0, 'year', x)

        sheet = sheet[sheet['LEA_NAME'] == 'Charlotte-Mecklenburg Schools'][['year','SECGUI']].reset_index(drop=True)
    else:
        sheet = pd.read_csv(filepath + 'ccd_counselors_' + str(2018) +'.csv')

        sheet.insert(0, 'year', x)

        sheet['SECGUI'] = sheet['STAFF_COUNT']

        sheet = sheet[ (sheet['LEA_NAME'] == 'Charlotte-Mecklenburg Schools') & (sheet['STAFF'] == 'Secondary School Counselors')][['year', 'SECGUI']].reset_index(drop=True)
        

    counselor_df = pd.concat([counselor_df, sheet])

In [31]:
counselor_df

   year  SECGUI
0  2016  206.23
0  2017  225.25
0  2018  225.25
0  2019  225.25
0  2020  225.25
0  2021  225.25

In [32]:
## from CCD 2015-2016 data, no longer using

## julies l. chambers high school, (not in CCD)
# Charlotte-Mecklenburg Virtual High ,(not in CCD)

# Merancas Middle College-CPCC (not appearing in search, but in dataset)
# Military and Global Leadership (not appearing in search, but in dataset)

## olympic 
# 'East Mecklenburg High', 'Harding University High',
#        'Independence High', 'Myers Park High', 'North Mecklenburg High',
#        'South Mecklenburg High', 'West Charlotte High',
#        'West Mecklenburg High', 'Providence High', 'Butler High',
#        'Vance High', 'Hopewell High',
#        'Phillip O Berry Academy of Technology', 'Mallard Creek High',
#        'Olympic TEAM High School', 'Performance Learning Center',
#        'Olympic High - Renaissance School',
#        'Olympic High-Math Eng Tech Science',
#        'Olympic High-Leadership and Development',
#        'Olympic High - Biotech Health Pub Admin', 'Ardrey Kell High',
#        'Cato Middle College High', 'Rocky River High',
#        'William Amos Hough High', 'Garinger High',
#        'Harper Middle College High',
#        'Charlotte Engineering Early College-UNCC',
#        'Levine Middle College High', 'eLearning Academy'

In [33]:
## outdated cell

# dataset = 'NC Stats Data'
# variable = 'counselors'

# filepath =  '/DTSC4301/Dataprep' + '/' + dataset + '/' + variable + '/'

# years = [ 2015, 2016, 2017, 2018, 2019, 2020, 2021]
# counselor_df =pd.DataFrame()

# ## for every file in counselors folder
# for x in years:

#     ## open file    
#     ## read as data frame
#     sheet = pd.read_excel(filepath + 'Staff_' + str(x) + '.xlsx' , index_col = None, skiprows = [0, 1, 2], header=0, usecols=[1, 2, 3, 4, 5, 7, 8, 10, 11, 12])

#     ## remove all but counselors
#     sheet = sheet[sheet['Activity Assignment Classification'] == 'Guidance']

#     ## add the year as a column
#     sheet.insert(0, 'year', x)
# 

#     ## add to a new dataframe
#     counselor_df = pd.concat([counselor_df, sheet])

# counselor_df.reset_index(inplace=True, drop=True)

# ## checking the dataframe
# counselor_df.head(10)

# #counselor_df.to_csv('Counselor_Info.csv')

In [34]:
dataset = 'NC Stats Data'
variable = 'schools'
filepath = dataset + '\\' + variable + '\\'


schools_df = pd.read_csv(
    filepath + 'Schools_currentlyopen.csv', 
    header=0, 
    names=['agency_code','school', 'zip_code'], 
    usecols=[0, 1, 4],  
    dtype={'agency_code': 'object', 'zip_code' : str})

In [35]:
schools_df

   agency_code                                 school zip_code
0       600567            Char Eng Early College-UNCC    28262
1       600569        Charlotte Teacher Early College    28262
2       600302                Ardrey Kell High School    28277
3       600312                William Amos Hough High    28031
4       600361                     Butler High School    28105
5       600364         Military and Global Leadership    28205
6       600377           East Mecklenburg High School    28212
7       600386   Hawthorne Academy of Health Sciences    28205
8       600397                   Garinger High School    28205
9       600405         Harding University High School    28208
10      600415                   Hopewell High School    28078
11      600426               Independence High School    28227
12      600445              Mallard Creek High School    28269
13      600457                Rocky River High School    28227
14      600466                 Myers Park High School    28209
15      600480          North Mecklenburg High School    28078
16      600490                    Olympic High School    28273
17      600496  Phillip O Berry Academy of Technology    28208
18      600498            Performance Learning Center    28262
19      600499     Charlotte-Mecklenburg Virtual High    28216
20      600508                 Providence High School    28270
21      600535          South Mecklenburg High School    28210
22      600576             West Charlotte High School    28216
23      600579           West Mecklenburg High School    28214
24      600592         Julius L. Chambers High School    28262
25      600334        Cato Middle College High School    28215
26      600404             Harper Middle College High    28273
27      600443         Levine Middle College High Sch    28105
28      600594           Merancas Middle College-CPCC    28078

In [66]:
variable = 'intentions'
filepath = dataset + '\\' + variable + '\\'

intentions_df = pd.DataFrame()
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]


for x in years:


    ## open file    
    ## read as data frame
    sheet = pd.read_excel(
        filepath + 'intentions_' + str(x) + '.xlsx' , 
        index_col = None, 
        #usecols=[0,2,3,4,5,6,7,8],
        skiprows = [0, 1, 2, 36, 37, 38], 
        header=0, 
        dtype={'School No':str})

    sheet.replace('*', 2.5, inplace=True)

    ## add the year as a column
    sheet.insert(0, 'year', x)
    
    ## add to a new dataframe
    intentions_df = pd.concat([intentions_df, sheet])


## reset index
intentions_df.reset_index(drop=True, inplace=True)

## renmaing now for joining later
intentions_df.rename(columns={'School No':'agency_code', 'School Name':'school'}, inplace=True)
## some unused code, to sum up olympic schools if desired
## t[ t['School Name'].str.contains('Olympic')][['Public Senior Institutions', 'Private Senior Institutions', 'Community Technical College', 
##        'Private Junior Institutions', 'Trade Business Nursing', 'Other', 'Total']]

FileNotFoundError: [Errno 2] No such file or directory: 'NC Report Card Data\\intentions\\intentions_2011.xlsx'

In [37]:
intentions_df = intentions_df[ intentions_df['agency_code'] != '1']

In [38]:
## getting only the percentage of graduates in each category

## use this if using demographic breakdown

# intentions_pivot = intentions_df[['year', 'Graduate Intention', 'Percent']]
# intentions_pivot = intentions_pivot.pivot(index='year', columns='Graduate Intention', values='Percent').reset_index()
# intentions_pivot

In [39]:
dataset = 'NC Report Card Data'
variable = 'AP Classes'
filepath = dataset + '\\' + variable + '\\'

## read excel file 
AP_df = pd.read_excel(filepath + 'NC_AP'  + '.xlsx' , index_col = None, header=0, usecols=[0, 1, 2, 3, 5])

## choose only Charlotte-Mecklenburg Schools 
#AP_df = AP_df[ AP_df['agency_code'].str.startswith('600') == True]

## choose only high schools
#AP_df = AP_df[ AP_df['category_code'] == 'H']

In [40]:
## old code

## highschool only codes
# agency_codes = list(AP_df['agency_code'].drop_duplicates())

In [41]:
dataset = 'NC Report Card Data'
variable = 'CTE Certifications'
filepath = dataset + '\\' + variable + '\\'

credentials_df = pd.read_excel(filepath + 'CTE_Credentials'  + '.xlsx' , index_col = None, header=0, usecols=[0, 1, 4])

#credentials_df = credentials_df.loc[ credentials_df['agency_code'].isin(agency_codes), : ]

In [42]:
creds_enroll_df = pd.read_excel(filepath + 'CTE_Enrollment' +'.xlsx', index_col = None, header=None, skiprows=[0], names=['year', 'agency_code', 'students_CTE_pct'], usecols=[0,1,4])
creds_enroll_df

      year agency_code  students_CTE_pct
0     2018      00A000              6.64
1     2018      00B000              1.62
2     2018      010303             41.36
3     2018      010310             55.86
4     2018      010324             72.23
...    ...         ...               ...
3697  2020      990LEA             59.27
3698  2020      995316             94.67
3699  2020      995324             27.66
3700  2020      995330             80.45
3701  2020      995LEA             61.64

[3702 rows x 3 columns]

In [43]:
creds_merged_df = credentials_df.merge(creds_enroll_df, on=['year', 'agency_code'])

In [44]:
creds_merged_df

      year agency_code  cred_earned_pct  students_CTE_pct
0     2018      010324             28.0             72.23
1     2018      010348             17.0             70.05
2     2018      010360             25.0             76.41
3     2018      010388             44.0             78.47
4     2018      010396             28.0             80.15
...    ...         ...              ...               ...
1512  2020      960LEA              NaN             60.39
1513  2020      970LEA              NaN             68.98
1514  2020      980LEA              NaN             67.55
1515  2020      990LEA              NaN             59.27
1516  2020      995LEA              NaN             61.64

[1517 rows x 4 columns]

In [45]:
dataset = 'NC Report Card Data'
variable = 'College Enrollment'
filepath =  dataset + '\\' + variable + '\\'

college_df = pd.read_excel(filepath + 'college enrollment'  + '.xlsx' , index_col = None, header=0, usecols=[1, 2, 3, 4, 6])

#college_df = college_df.loc[ college_df['agency_code'].isin(agency_codes), : ]
college_df.rename( columns = {'graduation_year' : 'year'}, inplace=True)
college_df.drop(college_df[ college_df['Status'] == 'NOENRO' ].index, inplace=True)

#college_df.to_csv('College Enrollment Data.csv')

In [46]:
group_definitions = pd.read_excel(filepath + 'Subgroup_Definitions' + '.xlsx', index_col = None, header=None, names=['subgroup', 'Subgroup_Full'])
group_definitions['subgroup'] = group_definitions['subgroup'].str.strip()
## this dictionary can be used to replace all the subgroup codes with full-text

In [47]:
college_df = college_df.merge(group_definitions, on='subgroup')

In [48]:
college_pivot = pd.pivot_table(college_df, index= ['year', 'agency_code'], columns='subgroup').reset_index()

college_pivot.columns = college_pivot.columns.to_flat_index()

college_pivot.columns = [
    'year', 
    'agency_code', 
    'enroll_All',
    'enroll_AmericanIndian',
    'enroll_Asian',
    'enroll_Black',
    'enroll_Disadvantaged',
    'enroll_EnglishLearners',
    'enroll_Female',
    'enroll_Hispanic',
    'enroll_Male', 
    'enroll_Twoormore',
    'enroll_PacificIslander',
    'enroll_Disabilities',
    'enroll_White']

In [49]:
college_pivot

,year,agency_code,enroll_All,enroll_AmericanIndian,enroll_Asian,enroll_Black,enroll_Disadvantaged,enroll_EnglishLearners,enroll_Female,enroll_Hispanic,enroll_Male,enroll_Twoormore,enroll_PacificIslander,enroll_Disabilities,enroll_White
0,2011,010303,0.5641,NaN,NaN,0.692300,0.5714,NaN,0.521700,0.1666,0.625000,NaN,NaN,0.9500,0.600000
1,2011,010324,0.7561,0.95,0.95,0.720000,0.5471,0.7500,0.827200,0.5714,0.696900,0.9500,NaN,0.4800,0.779000
2,2011,010348,0.5320,NaN,0.50,0.587300,0.4698,0.2000,0.534000,0.3958,0.529400,0.9500,NaN,0.2777,0.609700
3,2011,010360,0.4829,0.95,0.50,0.595200,0.5000,0.1176,0.466600,0.3333,0.500000,NaN,NaN,0.1428,0.222200
4,2011,010388,0.6484,0.95,0.50,0.777700,0.5147,0.2500,0.688400,0.4400,0.612900,0.6666,NaN,0.3333,0.655300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5275,2019,740500,NaN,NaN,NaN,NaN,NaN,NaN,0.714286,NaN,NaN,NaN,NaN,NaN,NaN
5276,2019,91B000,NaN,NaN,NaN,0.714286,NaN,NaN,0.725000,NaN,0.709677,NaN,NaN,NaN,NaN
5277,2019,920556,NaN,NaN,NaN,0.196429,NaN,NaN,0.213333,NaN,0.214286,NaN,NaN,NaN,0.288136
5278,2019,92T000,NaN,NaN,NaN,NaN,NaN,NaN,0.941176,NaN,0.833333,NaN,NaN,NaN,0.823529
5279,2019,98B000,NaN,NaN,NaN,0.640000,NaN,NaN,0.850000,NaN,0.560000,NaN,NaN,NaN,0.857143

## Merge all of it together

In [50]:
# big merge statement
main_df = schools_df.merge(
    intentions_df.drop('school', axis=1), 
    on='agency_code', 
    how='right').merge( ## right merge gets the schools that are no longer active, can use this for aggregating olympic and garinger school data
        AP_df, 
        on=['agency_code', 'year'],
        how='left').merge(
            creds_merged_df, 
            on=['year', 'agency_code'], 
            how='left').merge(
                college_pivot, 
                on=['year', 'agency_code'], how='left').merge(
                    counselor_df, 
                    on=['year'], 
                    how='left')

In [51]:
main_df['year'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [52]:
main_df.columns

Index(['agency_code', 'school', 'zip_code', 'year',
       'Public Senior Institutions', 'Private Senior Institutions',
       'Community Technical College', 'Private Junior Institutions',
       'Trade Business Nursing', 'Other', 'Total', 'category_code',
       'pct_ap_pass', 'pct_ap_participation', 'cred_earned_pct',
       'students_CTE_pct', 'enroll_All', 'enroll_AmericanIndian',
       'enroll_Asian', 'enroll_Black', 'enroll_Disadvantaged',
       'enroll_EnglishLearners', 'enroll_Female', 'enroll_Hispanic',
       'enroll_Male', 'enroll_Twoormore', 'enroll_PacificIslander',
       'enroll_Disabilities', 'enroll_White', 'SECGUI'],
      dtype='object')

In [53]:
## these are schools that did not show up in CMS currently active schools

## Year '2002' refers to the '2001-2002' school year

## comment format is as follows

        ## name of school
        ## agency code of school
        ## reason it was not on the main list of open and active high schools
non_active_schools = main_df[main_df['school'].isna()]['agency_code'].unique()
non_active_schools

## DROPPED FROM MAIN
## Charlotte-Mecklenburg Academy / Lincoln Heights Academy
## agency code : 600461
## has grades below high school
## DROPPED FROM MAIN

## E E Waddell High
## agency code : 600 376 
## closed in 2011

## Northwest School of the Arts
## agency code : 600482
## Active school
     ## not sure why it isn't in active schools from NCDPI



## Garinger - Math and Science 
## agency code : 600690
## consolidated in 2011

## Leadership and Public Service High School at Garinger
## agency code : 600691
## conslidated in 2011

## Business and Finance High School at Garinger
## agency code : 600692
## consolidated in 2011

## New Technology High at Garinger
## agency code : 600698
## conslidated in 2011



## School of Math, Engineering, Technology & Science at Olympic
## agency code : 600694
## conslidated in 2019

## School of Biotechnology, Health & Public Admin. at Olympic
## agency code : 600697
## conslidated in 2019

## THESE CODE HAVE TWO SCHOOL NAMES ASSOCIATED

## Name of some schools within Olympic Highschool changed
## 2011-2014 
## 2015- 2019

## agency code : 600695
## International Studies and Global Economics at Olympic 
## School of Tech Entrepreneurship/Adv Manufacturing at Olympic
## conslidated in 2019

## Renaissance High School at Olympic 
## Renaissance School of Arts/Technology at Olympic 
## agency code : 600693
## conslidated in 2019

## International Business and Communication Studies at Olympic 
## School of Exe Leadership/Entrepreneurial Develop at Olympic
## agency code : 600696
## conslidated in 2019

array(['600376', '600461', '600482', '600690', '600691', '600692',
       '600693', '600694', '600695', '600696', '600697', '600698',
       '600699', nan, '600341', '600439', '600582'], dtype=object)

In [54]:
main_df.columns

Index(['agency_code', 'school', 'zip_code', 'year',
       'Public Senior Institutions', 'Private Senior Institutions',
       'Community Technical College', 'Private Junior Institutions',
       'Trade Business Nursing', 'Other', 'Total', 'category_code',
       'pct_ap_pass', 'pct_ap_participation', 'cred_earned_pct',
       'students_CTE_pct', 'enroll_All', 'enroll_AmericanIndian',
       'enroll_Asian', 'enroll_Black', 'enroll_Disadvantaged',
       'enroll_EnglishLearners', 'enroll_Female', 'enroll_Hispanic',
       'enroll_Male', 'enroll_Twoormore', 'enroll_PacificIslander',
       'enroll_Disabilities', 'enroll_White', 'SECGUI'],
      dtype='object')

In [55]:
main_df.rename(
    columns={
        'pct_ap_pass':'AP_pass_pct',
        'pct_ap_participation':'AP_part_pct',
        'Trade Business Nursing':'int_trdbusnrs',
        'Other': 'int_other', 
        'Community Technical College':'int_commcoll', 
        'Private Junior Institutions':'int_privjr', 
        'Private Senior Institutions':'int_privsr',
        'Public Senior Institutions':'int_pubsr',
        'Total':'int_totalsecondary',
        'cred_earned_pct':'CTE_cred_pct',
        'students_CTE_pct':'CTE_enroll_pct',
        'SECGUI' :'secondary_counselors'  }, inplace=True)

In [56]:
main_df.drop('category_code', axis=1, inplace=True)

In [57]:
main_df.columns

Index(['agency_code', 'school', 'zip_code', 'year', 'int_pubsr', 'int_privsr',
       'int_commcoll', 'int_privjr', 'int_trdbusnrs', 'int_other',
       'int_totalsecondary', 'AP_pass_pct', 'AP_part_pct', 'CTE_cred_pct',
       'CTE_enroll_pct', 'enroll_All', 'enroll_AmericanIndian', 'enroll_Asian',
       'enroll_Black', 'enroll_Disadvantaged', 'enroll_EnglishLearners',
       'enroll_Female', 'enroll_Hispanic', 'enroll_Male', 'enroll_Twoormore',
       'enroll_PacificIslander', 'enroll_Disabilities', 'enroll_White',
       'secondary_counselors'],
      dtype='object')

In [58]:
zip_codes = main_df['zip_code'].unique()
zip_codes

zip_2019_median_household_income = {
    '28277': 109251, 
    '28105': 117852, 
    '28215': 50704, 
    '28212': 46688, 
    '28205': 50200, 
    '28208': 42570, 
    '28078': 82225, 
    '28227': 43990, 
    '28262': np.nan,
    '28269': 60423, 
    '28209': 99628, 
    '28270': 82270, 
    '28210': 87928,
    '28214': 65706, 
    '28031': 91151,
    '28216': 64442, 
    '28273': 67621}

In [59]:
main_df['2019_med_hh_inc'] = main_df['zip_code'].map(zip_2019_median_household_income)

# year = main_df.pop('year')

# main_df.insert(1, 'year', year)

median_household_income = main_df.pop('2019_med_hh_inc')

main_df.insert(4, '2019_med_hh_inc', median_household_income)

In [60]:
main_df

,agency_code,school,zip_code,year,2019_med_hh_inc,int_pubsr,int_privsr,int_commcoll,int_privjr,int_trdbusnrs,...,enroll_Disadvantaged,enroll_EnglishLearners,enroll_Female,enroll_Hispanic,enroll_Male,enroll_Twoormore,enroll_PacificIslander,enroll_Disabilities,enroll_White,secondary_counselors
0,600302,Ardrey Kell High School,28277,2011,109251.0,271.0,54.0,76.0,2.5,2.5,...,0.8070,0.7500,0.8842,0.7916,0.8923,0.95,NaN,0.8421,0.9094,NaN
1,600334,Cato Middle College High School,28215,2011,50704.0,39.0,2.5,8.0,NaN,2.5,...,0.8518,0.9500,0.8947,0.6000,0.8333,NaN,NaN,NaN,0.8181,NaN
2,600361,Butler High School,28105,2011,117852.0,224.0,49.0,191.0,5.0,16.0,...,0.7310,0.6666,0.8096,0.6363,0.7584,0.90,NaN,0.4074,0.8291,NaN
3,600364,Military and Global Leadership,28205,2011,50200.0,5.0,2.5,2.5,NaN,NaN,...,0.7500,NaN,0.6666,0.9500,0.7500,NaN,NaN,0.9500,NaN,NaN
4,600376,NaN,NaN,2011,NaN,37.0,7.0,73.0,2.5,2.5,...,0.3898,0.0800,0.4567,0.2280,0.3636,NaN,NaN,0.3000,0.4166,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,600567,Char Eng Early College-UNCC,28262,2020,NaN,33.0,5.0,13.0,NaN,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.25
317,600576,West Charlotte High School,28216,2020,64442.0,121.0,2.5,121.0,NaN,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.25
318,600579,West Mecklenburg High School,28214,2020,65706.0,38.0,6.0,153.0,NaN,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.25
319,600582,NaN,NaN,2020,NaN,7.0,2.5,2.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.25
320,600592,Julius L. Chambers High School,28262,2020,NaN,101.0,26.0,179.0,2.5,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.25

In [61]:
#main_df.to_csv('Full_Data.csv')

In [62]:
main_df.columns

Index(['agency_code', 'school', 'zip_code', 'year', '2019_med_hh_inc',
       'int_pubsr', 'int_privsr', 'int_commcoll', 'int_privjr',
       'int_trdbusnrs', 'int_other', 'int_totalsecondary', 'AP_pass_pct',
       'AP_part_pct', 'CTE_cred_pct', 'CTE_enroll_pct', 'enroll_All',
       'enroll_AmericanIndian', 'enroll_Asian', 'enroll_Black',
       'enroll_Disadvantaged', 'enroll_EnglishLearners', 'enroll_Female',
       'enroll_Hispanic', 'enroll_Male', 'enroll_Twoormore',
       'enroll_PacificIslander', 'enroll_Disabilities', 'enroll_White',
       'secondary_counselors'],
      dtype='object')

In [63]:
hypothesis_df = main_df[['agency_code', 'school', 'zip_code', 'year', '2019_med_hh_inc', 'int_pubsr', 'int_commcoll',
                         'int_trdbusnrs', 'AP_pass_pct', 'AP_part_pct',
                          'CTE_cred_pct', 'CTE_enroll_pct', 'enroll_Disadvantaged']]

In [65]:
hypothesis_df.columns

Index(['agency_code', 'school', 'zip_code', 'year', '2019_med_hh_inc',
       'int_pubsr', 'int_commcoll', 'int_trdbusnrs', 'AP_pass_pct',
       'AP_part_pct', 'CTE_cred_pct', 'CTE_enroll_pct',
       'enroll_Disadvantaged'],
      dtype='object')